
body{
    text-align: center;
    font-family: Arial;
}
#numContainer{
    margin: auto;
    display: flex;
    position: relative;
    flex-direction: row;
    width: 400px;
    height: 180px;
    border: solid black 1px;
}
button{
    margin: 20px;
}
.invalidInput{
    border: solid red;
    background-color: lightcoral;
}
.bars{
    position : absolute;
    background-color : rgb(0,255,255,0.3);
    border :  solid black 1px;
    border-bottom: 0px;
    bottom : 0;
}
.selected{
    background-color: rgb(0,255,0,0.5);
}
.selectedDark{
    background-color: rgba(175, 125, 55, 0.5);
}
.sorted{
    background-color: rgb(0,255,0,0.8);
}
.pivot{
    background-color: rgba(255, 0, 255, 0.8);
}
.min{
    background-color: rgb(0,0,255,0.3);
}
